body {
    background-color: navy;   /* cor de fundo*/
    color: skyblue;     /* cor da escrita*/
}

header {
    border: solid 2px skyblue;
    font-size: 32px;
    padding: 10px;
    color: aqua;
}

    section {
background-color: #1b7fcccc;
padding-bottom: 80px ;
padding-top: 80px;
display: flex;
justify-content: center;
    }

.chamada-texto{
margin-right: 5%;

}


h1  {
    font-size: 30px;  /*tamanho da fonte*/
    text-align: center;  /*centralizado*/
    text-transform: uppercase; /*letras maiúsculas*/
}

p {
    font-size:  16px;
    color: rgb(141, 121, 180);
}