body {
    background-color: navy;   /* cor de fundo*/
    color: skyblue;     /* cor da escrita*/
}

header {
    border: solid 2px skyblue;
    font-size: 32px;
    padding: 10px;
    color: aqua;
}

h1  {
    font-size: 30px;  /*tamanho da fonte*/
    text-align: center;  /*centralizado*/
    text-transform: uppercase; /*letras maiúsculas*/
}

p {
    font-size:  16px;
    color: mediumpurple;
}